<nav class="navbar">
  <div class="leftSection">
  <div class="logo">
    <a routerLink="/">🎟️ Ticket Miagester</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Accueil</a></li>
    <li><a routerLink="/utilisateurs">Utilisateurs</a></li>
    <li><a routerLink="/tickets">Tickets</a></li>
  </ul>
  </div>
  <div class="rightSection">
  <div class="search-container">
    <input
      type="text"
      placeholder="Rechercher..."
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
    />
    <button>
      <img ngSrc="assets/search-icon.png" alt="Rechercher" height="50" width="50"/>
    </button>
  </div>
  <div class="sign-in">
    <a routerLink="/login">
      <img ngSrc="assets/user.png" alt="Connexion" height="50" width="50">
      <span>Connexion</span>
    </a>
  </div>
  </div>
</nav>
