.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.user-card,

mat-toolbar {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

mat-card-title {
  font-size: 1.5rem;
  text-align: center;
}

.activity-card {
  padding: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.ticket-item {
  align-items: start;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
}

.ticket-content {
  display: flex;
  flex-direction: column;
}

.ticket-status,
.ticket-date {
  font-size: 14px;
}

.status-label,
.date-label {
  font-weight: 600;
}
.carousel-card {
  max-width: 400px;
  margin: auto;
  padding: 16px;
}

.ticket-view {
  margin: 16px 0;
  font-size: 14px;
}

.carousel-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


