<form [formGroup]="evenementForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Nom de l'événement</mat-label>
    <input matInput formControlName="nom">
    <mat-error *ngIf="evenementForm.get('nom')?.invalid && evenementForm.get('nom')?.touched">
      Le nom est requis.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Choisir une date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>Format : MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="evenementForm.get('date')?.invalid && evenementForm.get('date')?.touched">
      La date est requise.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Lieu</mat-label>
    <input matInput formControlName="lieu">
    <mat-error *ngIf="evenementForm.get('lieu')?.invalid && evenementForm.get('lieu')?.touched">
      Le lieu est requis.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="evenementForm.get('description')?.invalid && evenementForm.get('description')?.touched">
      La description doit faire au moins 10 caractères.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Artiste</mat-label>
    <input matInput formControlName="artiste">
    <mat-error *ngIf="evenementForm.get('artiste')?.invalid && evenementForm.get('artiste')?.touched">
      L'artiste est requis.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Genres</mat-label>
    <mat-select formControlName="genre" multiple>
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{ genre }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="evenementForm.get('genre')?.invalid && evenementForm.get('genre')?.touched">
      Au moins un genre est requis.
    </mat-error>
  </mat-form-field>



  <mat-form-field appearance="outline">
    <mat-label>Prix</mat-label>
    <input matInput formControlName="price"
           oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
    <mat-error *ngIf="evenementForm.get('price')?.invalid && evenementForm.get('price')?.touched">
      Le prix est requis et doit être un nombre valide.
    </mat-error>
  </mat-form-field>




  <p *ngIf="eventErrorMessage" class="error">{{ eventErrorMessage }}</p>
  <p *ngIf="eventSuccessMessage" class="success">{{ eventSuccessMessage }}</p>

  <button mat-raised-button color="primary" type="submit" [disabled]="evenementForm.invalid">
    Créer l'événement
  </button>


</form>
